@@ -1,4 +1,8 @@
 -body{
 +* {
 +  margin: 0;
 +}
 +
 +html, body{
    color: #777777;
    background-image: url("");
    border-color: #dddddd;
 @@ -7,7 +11,14 @@ body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      background-repeat: no-repeat;
 -    background-color: #ffcfbc;      
 +    background-color: #ffcfbc;  
 +    height: 100%;   
 +}
 +.wrapper {
 +  min-height: 100%;
 +  height: auto !important;
 +  height: 100%;
 +  margin: 0 auto -4em;
  }
  .mainHeader{
    columns: 
 @@ -21,3 +32,8 @@ body{
    margin: 0 auto;
    clear: both;  
  }
 +
 +.footer, .push {
 +  height: 4em;
 +  text-align: center;
 +} 